<!-- templates/radar_chart.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Radar Chart</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <style>
        html, body { margin: 0; padding: 0; height: 100%; }
        body { display: flex; justify-content: center; align-items: center; background-color: #FAFAFF; }
        .chart-container { width: 100%; height: 100%; }
        </style>
    </head>
    <body>
        <div class="chart-container">
            <canvas id="radarChart"></canvas>
        </div>
        <script>
        const ctx = document.getElementById('radarChart').getContext('2d');
        const data = JSON.parse('{{ data|safe }}');
        const chart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ['백혈구수(WBC)', '적혈구수(RBC)', '혈소판(PLT)', '혈색소(Hb)', '적혈구용적(Hct)'],
                datasets: [{
                    label: 'Blood Counts',
                    data: [data.WBC, data.RBC, data.PLT, data.Hb, data.Hct],
                    fill: true,
                    backgroundColor: 'rgba(202, 184, 255, 0.2)',
                    borderColor: '#CAB8FF',
                    pointBackgroundColor: '#CAB8FF',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: '#CAB8FF'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scale: {
                    ticks: {
                        display: false, // Hide scale labels
                        beginAtZero: true
                    },
                    pointLabels: {
                        fontSize: 32, // Increased font size for labels
                        fontColor: '#5E548E'
                    },
                    r: {
                        angleLines: {
                            display: false
                        },
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                },
            }
        });
        </script>
    </body>
</html>
