{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
  .container {
      text-align: center;
      margin-top: 20px;
  }
  .highlighted-section, .boxplot, .boxplot-labels {
      border: 2px solid #4CAF50;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #f9f9f9;
      margin: 20px auto;
      width: 550px; /* Match the width of the radar chart */
      display: block;
  }
  #radarChart {
      height: 500px;
      margin-bottom: 15px; /* Space between radar chart and box plots */
  }
  .boxplot svg {
      display: block; /* Align svg inside div */
      margin: auto; /* Center svg */
  }
  .boxplot-labels {
      display: flex;
      justify-content: space-between; /* Spread the labels across */
      padding: 0 10px; /* Padding to align with the boxplot scale */
      width: 550px; /* Match the width of the radar chart */
      margin: 0 auto 20px; /* Center it under the radar chart and provide some space before box plots */
  }
  .boxplot-label {
      font-size: 12px;
  }
  .info-section {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 1.6;
      text-align: left;
      box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  .info-section h5 {
      margin-top: 0;
  }
  /* New style for images */
  .supplement-image img {
    max-width: 50%; /* This sets the maximum width to 50% of the parent element */
    height: auto; /* This ensures the height scales proportionally to the width */
  }
  .centered-image {
    display: block; /* To center the image using margin */
    margin: auto; /* This will center the image in the container */
    max-width: 100%; /* This will ensure the image is responsive and does not overflow its container */
    height: auto; /* This will maintain the aspect ratio of the image */
    }

   .info-section .centered-image-container {
        text-align: center; /* Centers inline or inline-block elements horizontally */
   }

   .red-glow {
    box-shadow: 0 0 10px red; /* Horizontal offset, vertical offset, blur radius, and color */
   }

  .advertisement-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .advertisement-section h5 {
    margin-bottom: 10px; /* Add some space between the caption and the image */
    font-size: 14px; /* Adjust the font size as needed */
}

.ad-image {
    display: block; /* To center the image using margin */
    margin: auto; /* This will center the image in the container */
    max-width: 50%; /* Adjust the width of the image */
    height: auto; /* This will maintain the aspect ratio of the image */
}

   .tooltip {
      position: absolute;
      text-align: left;
      width: 360px; /* Narrower width */
      max-width: 400px; /* Ensuring the tooltip does not exceed this width */
      padding: 16px; /* Increased padding for a taller appearance */
      font-size: 14px;
      line-height: 1.5; /* Improved line spacing for better readability */
      font-weight: normal; /* Adjusted font weight */
      background: #ffffff; /* Changed background to white for better contrast */
      border: 1px solid #000;
      border-radius: 8px; /* Rounded corners for a softer look */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 1000; /* Ensure it's above other elements */
    }

    .info-icon {
      cursor: pointer;
      font-weight: bold;
      display: inline-block;
      margin-left: 5px;
      color: #007bff; /* Bootstrap primary color for consistency */
    }

    .advertisement-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ad-images-container {
  display: flex;
  justify-content: center; /* Center align the images */
  align-items: center;
  flex-wrap: wrap; /* Allows images to wrap if the screen is too narrow */
}

.ad-image {
    display: block; /* To center the image using margin */
    margin: auto; /* This will center the image in the container */
    width: 100%; /* Make the image full width within its container */
    height: auto; /* This will maintain the aspect ratio of the image */
}
</style>

<div class="container mt-4">
    <!-- Tooltip for displaying information on hover -->
    <div id="tooltip" class="tooltip" style="opacity: 0;"></div>

    <div class="row">
        <div class="col-md-8">
              <h4 style="text-align: center;">통합 차트</h4>
              <a href="{% url 'synopex:blood_test_result' %}">혈액검사 결과 상세보기</a>
              <div id="radarChart" class="highlighted-section"></div>
              <div class="boxplot-labels">
                <span class="boxplot-label">부족</span>
                <span class="boxplot-label">정상</span>
                <span class="boxplot-label">과다</span>
              </div>
              <div class="boxplot" id="boxplotWBC"><span class="info-icon" id="infoWBC">[?]</span></div>
              <div class="boxplot red-glow" id="boxplotRBC"><span class="info-icon" id="infoRBC">[?]</span></div> <!-- 이상치 데이터 예시 -->
              <div class="boxplot" id="boxplotPLT"><span class="info-icon" id="infoPLT">[?]</span></div>
              <div class="boxplot" id="boxplotHb"><span class="info-icon" id="infoHb">[?]</span></div>
              <div class="boxplot" id="boxplotHct"><span class="info-icon" id="infoHct">[?]</span></div>
        </div>

        <div class="col-md-4">
           <div class="info-section">
               <strong>RBC 수치가 정상을 초과하셨네요!</strong>
               <p><a href="https://www.mayoclinic.org/tests-procedures/complete-blood-count/about/pac-20384919#:~:text=For%20a%20complete%20blood%20count%2C%20a%20member%20of%20the%20health,the%20bend%20in%20your%20elbow.">더 알아보기</a></p>
                    완전한 혈액 검사를 위해, 의료 팀의 한 구성원이 팔꿈치의 굴곡에서 보통 정맥에 바늘을 삽입하여 혈액 샘플을 채취합니다. 혈액 샘플은 실험실로 보내집니다. 검사 후에는 즉시 일상 활동으로 돌아갈 수 있습니다.
               <h5>결과</h5>
               다음은 성인을 위한 완전한 혈액 검사 결과로, 리터당 세포 수(cells/L) 또는 데실리터당 그램(grams/dL)으로 측정됩니다:
               <ul>
                    <li>적혈구 수: 남성: 4.35-5.65조 개/L, 여성: 3.92-5.13조 개/L</li>
                    <li>헤모글로빈: 남성: 13.2-16.6 그램/dL, 여성: 11.6-15 그램/dL</li>
                    <li>혈액 세포 용적률: 남성: 38.3%-48.6%, 여성: 35.5%-44.9%</li>
                    <li>백혈구 수: 3.4-9.6십억 개/L</li>
                    <li>혈소판 수: 남성: 135십억에서 317십억/L 여성: 157십억에서 371십억/L</li>
               </ul>
           </div>
           <hr>
            <div class="info-section">
               <h5 style="text-align: center;">관련 건강보조 식품</h5>
                <!-- Contents above remain unchanged -->
                <div class="centered-image-container">
                    <a href="https://kr.iherb.com/pr/real-ketones-keto-bhb-gummies-grape-400-mg-30-gummies-200-mg-per-gummy/131566?gad_source=1&gclid=CjwKCAjw7-SvBhB6EiwAwYdCAYFD5QHmAMZqjiZGQXEoFPOdLzqTfG3O2vGGw0PtZdcpTCS7aO3GAxoCF3MQAvD_BwE&gclsrc=aw.ds">
                        <img src="{% static 'BHB1.png' %}" alt="BHB1" class="centered-image" style="max-width: 50%;">
                    </a>
                </div>
                <hr>
                <div class="centered-image-container">
                    <a href="https://kr.iherb.com/pr/keto-science-keto-burn-bhb-gummies-raspberry-60-gummies/134210?gad_source=1&gclid=CjwKCAjw7-SvBhB6EiwAwYdCAT4Hg11LmdLSILaWrK3vZGQdB_0OhR0jejWOXmVKpeZjLEobhfwCJxoCTeAQAvD_BwE&gclsrc=aw.ds">
                        <img src="{% static 'BHB2.png' %}" alt="BHB2" class="centered-image" style="max-width: 50%;">
                    </a>
                </div>

                <hr>

           </div>
            <div class="advertisement-section">
                <h5 style="text-align: center;">[광고] 시노텍스 제품을 통하여 더 건강한 라이프스타일을 누려보세요!</h5>
                <a href="https://synotex.com/product/detail.html?product_no=488&cate_no=1&display_group=2">
                    <img src="{% static 'synopex_mask_ad.png' %}" alt="Advertisement" class="ad-image">
                </a>
            </div>
            <div class="advertisement-section">
                <h5 style="text-align: center;">[광고] 시노텍스 날씨 알림 및 마스크 가상 착용 어플을 체험해보세요!</h5>
                <a href="https://play.google.com/store/apps/details?id=com.lynxbus&pli=1">
                    <img src="{% static 'synopex_mask_app_ad.png' %}" alt="Advertisement" class="ad-image" style="max-width: 70%; display: block; margin: auto; border: 2px solid black;">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<!-- Make sure to include jQuery if you're using $(document).ready -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    const width = 450, height = 450;
    const svg = d3.select('#radarChart').append('svg')
        .attr('width', width)
        .attr('height', height)
        .append('g')
        .attr('transform', `translate(${width / 2}, ${height / 2})`);
    const numCircles = 5;
    const radius = height / 2;
    for (let i = 1; i <= numCircles; i++) {
        svg.append('circle')
            .attr('r', radius * i / numCircles)
            .style('fill', 'none')
            .style('stroke', 'grey')
            .style('stroke-dasharray', '2');
    }
    function calculatePentagonPoints(centerX, centerY, size) {
        let points = [];
        for (let i = 0; i < 5; i++) {
            let angle = (Math.PI / 2) + (2 * Math.PI / 5) * i;
            let x = centerX + size * Math.cos(angle);
            let y = centerY - size * Math.sin(angle);
            points.push({ x, y });
        }
        return points;
    }
    const pentagonSize = radius * 0.8;
    const pentagonPoints = calculatePentagonPoints(0, 0, pentagonSize);
    svg.append('polygon')
        .data([pentagonPoints])
        .attr('points', d => d.map(point => [point.x, point.y].join(',')).join(' '))
        .attr('stroke', 'green')
        .attr('stroke-width', 2)
        .attr('fill', 'none');
    const smallerPentagonSize = pentagonSize * 0.6;
    const smallerPentagonPoints = calculatePentagonPoints(0, 0, smallerPentagonSize);
    svg.append('polygon')
        .data([smallerPentagonPoints])
        .attr('points', d => d.map(point => [point.x, point.y].join(',')).join(' '))
        .attr('fill', 'none')
        .attr('stroke', 'green')
        .attr('stroke-width', 2);
    pentagonPoints.forEach((outerPoint, i) => {
        svg.append('polygon')
            .data([[smallerPentagonPoints[i], outerPoint, pentagonPoints[(i + 1) % 5], smallerPentagonPoints[(i + 1) % 5]]])
            .attr('points', d => d.map(point => [point.x, point.y].join(',')).join(' '))
            .attr('fill', 'lightgreen')
            .attr('fill-opacity', 0.3)
            .attr('stroke', 'none');
    });

    // hard code data for the demo
    const data = [
        { axis: "백혈구(WBC)", value: 5.0, min: 0.0, max: 12.0, normal: [4.0, 10.0] },
        { axis: "적혈구(RBC)", value: 6.2, min: 0.0, max: 6.9, normal: [4.1, 5.6] },
        { axis: "혈소판수(PLT)", value: 180, min: 0.0, max: 400.0, normal: [150, 370] },
        { axis: "헤모글로빈(Hb)", value: 15.6, min: 0.0, max: 20.0, normal: [13.0, 16.5] },
        { axis: "적혈구용적(Hct)", value: 42, min: 0.0, max: 70.0, normal: [39.0, 51.0] }
    ];

    const rScale = d3.scaleLinear().range([0, radius]).domain([0, 100]);

    // Function to calculate the angle of the axis
    const angleSlice = Math.PI * 2 / data.length;
    const calculateAngle = (index) => angleSlice * index - Math.PI / 2;

    // Function to normalize the values
    const normalize = (value, min, max) => (value - min) / (max - min);


    let allPoints = []; // Store all points

    // Plotting the points for each axis
    data.forEach((d, i) => {
        const angle = calculateAngle(i);
        const valueNormalized = normalize(d.value, d.min, d.max) * 100; // Normalized to percentage
        const normalRangeMinNormalized = normalize(d.normal[0], d.min, d.max) * 100;
        const normalRangeMaxNormalized = normalize(d.normal[1], d.min, d.max) * 100;

        let pointRadius;
        let color = 'red';

        // Check if the value is within the normal range
        if (valueNormalized >= normalRangeMinNormalized && valueNormalized <= normalRangeMaxNormalized) {
            color = 'green';
            // Linearly map the normalized value within the normal range to the radius between the small and large pentagon sizes
            const rangeScale = d3.scaleLinear()
                .domain([normalRangeMinNormalized, normalRangeMaxNormalized])
                .range([smallerPentagonSize, pentagonSize]);
            pointRadius = rangeScale(valueNormalized);
        } else {
            // Outside the normal range, use the outer scale
            pointRadius = rScale(valueNormalized);
        }

        const x = pointRadius * Math.cos(angle);
        const y = pointRadius * Math.sin(angle);

        // Draw the point
        svg.append('circle')
            .attr('class', 'radar-chart-point')
            .attr('cx', x)
            .attr('cy', y)
            .attr('r', 4)
            .style('fill', color);

        // Position the labels outside the largest pentagon
        const labelRadius = pentagonSize * 1.1; // 10% larger than the size of the pentagon
        const labelX = labelRadius * Math.cos(angle);
        const labelY = labelRadius * Math.sin(angle);

        svg.append('text')
            .attr('x', labelX)
            .attr('y', labelY)
            .text(d.axis)
            .style('text-anchor', 'middle')
            .style('font-size', '11px')
            .attr('alignment-baseline', 'middle');

        allPoints.push({ x, y, color });
    });

    for (let i = 0; i < allPoints.length; i++) {
        const pointA = allPoints[i];
        const pointB = allPoints[(i + 1) % allPoints.length]; // Ensures the last point connects to the first

        const lineColor = pointA.color === 'red' || pointB.color === 'red' ? 'red' : 'black';

        svg.append('line')
            .attr('x1', pointA.x)
            .attr('y1', pointA.y)
            .attr('x2', pointB.x)
            .attr('y2', pointB.y)
            .attr('stroke', lineColor)
            .attr('stroke-width', 2);
    }



    // Create box plots for each data point

    function sanitizeId(name) {
        // Remove parentheses, spaces, and non-alphanumeric characters except for underscores and dashes
        // Also, add a prefix if the first character is a digit
        let newName = name.replace(/[\s\(\)]/g, '');
        newName = newName.replace(/[^a-zA-Z0-9-_]/g, '');
        if (newName.match(/^\d/)) {
            newName = 'id' + newName; // prefix with 'id' to avoid numbers at the start
        }
        return newName;
    }

    data.forEach(d => {
        drawBoxPlot(d, `#boxplot${sanitizeId(d.axis)}`);
    });

    // Define the div for the tooltip
    var tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0)
        .style("position", "absolute");

    function drawBoxPlot(d, selector) {
        const boxplotWidth = 550;
        const boxplotHeight = 100;
        const margin = { top: 10, right: 30, bottom: 30, left: 40 };
        const width = boxplotWidth - margin.left - margin.right;
        const height = boxplotHeight - margin.top - margin.bottom;

        const svg = d3.select(selector)
            .append('svg')
            .attr('width', boxplotWidth)
            .attr('height', boxplotHeight)
            .append('g')
            .attr('transform', `translate(${margin.left},${margin.top})`);

        const y = d3.scaleLinear()
            .domain([d.min, d.max])
            .range([0, width]);

        // Define the div for the tooltip
        var div = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        // Draw whisker lines (min-max)
        svg.append('line')
            .attr('x1', y(d.min))
            .attr('x2', y(d.max))
            .attr('y1', height/2)
            .attr('y2', height / 2)
            .style('stroke', 'black')
            .style('stroke-width', '1px');
        // Draw the box for the normal range
        svg.append('rect')
            .attr('x', y(d.normal[0]))
            .attr('y', height / 4)
            .attr('width', y(d.normal[1]) - y(d.normal[0]))
            .attr('height', height / 2)
            .attr('fill', '#90EE90')
            .on("mouseover", function(event, data) {
                div.transition()
                    .duration(200)
                    .style("opacity", .9);
                div.html(`Normal Range: ${d.normal[0]} - ${d.normal[1]}`)
                    .style("left", (event.pageX) + "px")
                    .style("top", (event.pageY - 28) + "px");
                })
            .on("mouseout", function(d) {
                div.transition()
                    .duration(500)
                    .style("opacity", 0);
            });

        // Draw the median line (value)
        svg.append('line')
            .attr('x1', y(d.value))
            .attr('x2', y(d.value))
            .attr('y1', height / 4)
            .attr('y2', (height / 4) * 3)
            .style('stroke', 'red')
            .style('stroke-width', '2px');

        // Label at the bottom of the box plot
        svg.append('text')
            .attr('x', width / 2)
            .attr('y', height + margin.bottom / 2)
            .text(d.axis)
            .style('text-anchor', 'middle')
            .style('font-size', '10px');
    }

    // Ensure event handlers do not conflict
    $(document).off("click", "#infoWBC");

    // Event listener for the WBC info icon
    $(document).on("click", "#infoWBC", function(event) {
        event.stopPropagation(); // Prevent the event from bubbling up to other elements

        tooltip.transition()
               .duration(200)
               .style("opacity", 1);

        tooltip.html("<strong>백혈구는 골수에서 생성되어 감염이 있을 때 신체를 방어하고 면역반응에 관여하여 감염을 일으킨 세균, 진균, 바이러스 등을 공격하여 제거합니다. 백혈구증가증은 백혈구수가 정상치보다 많은 경우로 세균감염, 염증, 백혈병, 외상, 심한 운동, 임신, 스트레스로 인해 발생할 수 있습니다. 백혈구감소증은 백혈구수가 정상치보다 적은 경우로 화학요법, 방사선 치료, 면역체계에 영향을 끼치는 질환 등 다양한 원인에 의해 발생할 수 있습니다. 백혈구수는 아침에는 낮고 오후에는 높은 경향을 보입니다. 정상 신생아는 성인보다 높은 백혈구 수치를 보이고, 노령층은 감염이 있어도 백혈구증가증이 동반되지 않을 수 있습니다. ※ 출처 : 대한진단검사의학회, 서울대학교병원 진단검사의학과 누리집</strong>") // Your detailed tooltip content here
               .style("left", (event.pageX + 10) + "px")
               .style("top", (event.pageY + 10) + "px");

        // Prevent the tooltip from hiding if the icon itself is clicked again
        return false;
    });

    // Event listener for the RBC info icon
    $(document).on("click", "#infoRBC", function(event) {
        event.stopPropagation(); // Prevent the event from bubbling up to other elements

        tooltip.transition()
               .duration(200)
               .style("opacity", 1);

        tooltip.html("<strong>적혈구는 신체 구석구석에 산소를 운반하여 신진대사를 원활하게 도와줍니다. 적혈구 수는 혈액에서 발견되는 총 적혈구 수를 나타내며, 정상범위보다 적혈구 수치가 낮은 상태를 빈혈, 정상범위보다 높은 상태를 적혈구증가증이라고 합니다. 적혈구감소증은 출혈, 빈혈 등으로 인해 발생할 수 있습니다. 적혈구증가증은 탈수, 폐기종, 심한 운동, 흡연 등으로 인해 발생할 수 있습니다. ※ 출처 : 대한진단검사의학회, 서울대학교병원 진단검사의학과 누리집</strong>") // Your detailed tooltip content here
               .style("left", (event.pageX + 10) + "px")
               .style("top", (event.pageY + 10) + "px");

        // Prevent the tooltip from hiding if the icon itself is clicked again
        return false;
    });

    // Event listener for the RBC info icon
    $(document).on("click", "#infoPLT", function(event) {
        event.stopPropagation(); // Prevent the event from bubbling up to other elements

        tooltip.transition()
               .duration(200)
               .style("opacity", 1);

        tooltip.html("<strong>혈소판은 혈액 응고를 담당합니다. 혈소판수가 너무 적으면 과도한 출혈이나 멍이 생길 수 있고, 혈소판수가 너무 많으면 혈액이 과도하게 응고될 수 있습니다. 혈소판감소증은 재생 불량성 빈혈, 방사선 노출, 골수 손상, 임신, 항암제나 항생제, 전신 세균성 감염 등으로 인해 발생할 수 있습니다. 혈소판증가증은 철분 결핍, 전이암, 골수 기능 장애, 감염증, 수술 등으로 인해 발생할 수 있습니다. ※ 출처 : 대한진단검사의학회, 서울대학교병원 진단검사의학과 누리집</strong>") // Your detailed tooltip content here
               .style("left", (event.pageX + 10) + "px")
               .style("top", (event.pageY + 10) + "px");

        // Prevent the tooltip from hiding if the icon itself is clicked again
        return false;
    });

    // Event listener for the RBC info icon
    $(document).on("click", "#infoHb", function(event) {
        event.stopPropagation(); // Prevent the event from bubbling up to other elements

        tooltip.transition()
               .duration(200)
               .style("opacity", 1);

        tooltip.html("<strong>혈색소는 폐로부터 다른 장기로 산소를 운반하는 적혈구 내부에서 실제로 산소를 운반하는 물질입니다. 적혈구가 너무 적거나 혈색소가 너무 적은 경우, 혈액이 신체에 필요한 모든 산소를 운반할 수 없어 빈혈이 발생됩니다. 높은 혈색소 수치는 탈수, 골수에서의 적혈구 과다생산, 심각한 폐 질환 등으로 인해 발생할 수 있습니다. 낮은 혈색소 수치는 빈혈, 철분 또는 비타민B12와 엽산의 결핍, 간경변증, 과다출혈, 신장질환 등으로 인해 발생할 수 있습니다. ※ 출처 : 대한진단검사의학회, 서울대학교병원 진단검사의학과 누리집</strong>") // Your detailed tooltip content here
               .style("left", (event.pageX + 10) + "px")
               .style("top", (event.pageY + 10) + "px");

        // Prevent the tooltip from hiding if the icon itself is clicked again
        return false;
    });

    // Event listener for the RBC info icon
    $(document).on("click", "#infoHct", function(event) {
        event.stopPropagation(); // Prevent the event from bubbling up to other elements

        tooltip.transition()
               .duration(200)
               .style("opacity", 1);

        tooltip.html("<strong>적혈구용적률은 혈액 중 적혈구가 차지하는 비율을 측정하는 것입니다. 적혈구용적률이 감소하면 철 결핍이나 다른 결핍증에 의해 초래될 수 있는 빈혈이 발생됩니다. 낮은 적혈구용적률은 빈혈, 비타민이나 무기질의 결핍, 출혈, 간경화증, 암 등으로 인해 발생할 수 있습니다. 적혈구용적률을 증가시키는 가장 흔한 원인은 탈수증으로 적절한 수액 섭취로 정상치로 돌아옵니다. 그러나 혈구용적률이 지속적으로 높다면 병원에 방문하여 진료를 받아야 합니다. ※ 출처 : 대한진단검사의학회, 서울대학교병원 진단검사의학과 누리집</strong>") // Your detailed tooltip content here
               .style("left", (event.pageX + 10) + "px")
               .style("top", (event.pageY + 10) + "px");

        // Prevent the tooltip from hiding if the icon itself is clicked again
        return false;
    });

    // Optionally, add a way to hide the tooltip when clicking elsewhere
    d3.select("body").on("click", function(event) {
        if (!d3.select(event.target).classed("boxplot")) {
            tooltip.style("opacity", 0);
        }
    });
});
</script>
{% endblock %}
